<h1>Dollaz</h1>
<p>Give me my money, pls.</p>

<section>
  <h2>Invoice: Services Rendered</h2>

  <strong>$9,999</strong>
  <br>

  <a href="<%= get_paid_path %>">
    <img src="https://www.paypalobjects.com/en_US/i/btn/btn_xpressCheckout.gif">
  </a>
</section>

